apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: sufyanliaqat/my-backend:v1.0.7
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
        env:
        - name: MONGO_URI
          value: "mongodb://mongodb-service:27017"
        - name: MONGO_INITDB_ROOT_USERNAME
          valueFrom:
            secretKeyRef:
              name: mongodb-secret
              key: mongo-root-username
        - name: MONGO_INITDB_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mongodb-secret
              key: mongo-root-password
        - name: PORT 
          value: "3000"
        - name: NODE_ENV
          value: production
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: api-secrets
              key: jwt-secret
        - name: CLIENT_URL
          valueFrom:
            secretKeyRef:
              name: api-secrets
              key: client_url
        - name: EMAIL_USER
          valueFrom:
            secretKeyRef:
              name: api-secrets
              key: email_user
        - name: EMAIL_FROM
          valueFrom: 
            secretKeyRef:
              name: api-secrets
              key: email_from
        - name: BREVO_API_KEY
          valueFrom:
            secretKeyRef:
              name: api-secrets
              key: brevo_api_key
        - name: REDIS_URL
          value: "redis://redis-service:6379"